@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Geologica:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-primary : 'Geologica', sans-serif;
    --font-secondary : 'Poppins', sans-serif;
    --font-title : 'Bebas Neue', sans-serif;
    --gradient : linear-gradient(90deg, rgb(175, 107, 235) 0%, rgb(249, 93, 111) 72%);
    --white : #FFFFFF;
    --bg-primary : #161412;
    --bg-secondary : #1C1D23;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
